<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Change</title>
  </head>

  <body>
    <nav class="navbar" style="background-color:#152934">
      <div class="navbar-brand">
        <h1 class="title is-1" style="color: #dee1e3">Modify Restaurant: <%=record.name%></h1>
      </div>
    </nav>

    <div class="section">
      <form action='/change' method='post' enctype="multipart/form-data">

        <div class="field">
          <label class="label">Restaurant name:</label>
          <div class="control">
            <input name="name" class="input" type="text" required="required" value=<%=record.name%> >
          </div>
        </div>

        <div class="field">
          <label class="label">Borough:</label>
          <div class="control">
            <input name="borough" class="input" type="text" value=<%=record.borough%> >
          </div>
        </div>

        <div class="field">
          <label class="label">Cuisine:</label>
          <div class="control">
            <input name="cuisine" class="input" type="text" value=<%=record.cuisine%> >
          </div>
        </div>

        <div class="field">
          <label class="label">Photo</label>
          <div class="control">
            <input type="file" name="photo"/>
          </div>
        </div>
        <% if (record.photo != null) { %>
          <img src="data:<%=record.photo.mimetype%>;base64,<%=record.photo.image%>" width="50%" height="50%" alt="base64"/><br>
        <% } %>

        <div class="field">
          <label class="label">Street:</label>
          <div class="control">
            <input name="street" class="input" type="text" value=<%=record.address.street%> >
          </div>
        </div>

        <div class="field">
          <label class="label">Building:</label>
          <div class="control">
            <input name="building" class="input" type="text" value=<%=record.address.building%> >
          </div>
        </div>

        <div class="field">
          <label class="label">Zipcode:</label>
          <div class="control">
            <input name="zipcode" class="input" type="text" value=<%=record.address.zipcode%> >
          </div>
        </div>

        <div class="field">
          <label class="label">Coordinate X:</label>
          <div class="control">
            <input type="number" step="any" name="axisx" value=<%=record.address.coord.axisx%> >
          </div>
        </div>

        <div class="field">
          <label class="label">Coordinate Y:</label>
          <div class="control">
            <input type="number" step="any" name="axisy" value=<%=record.address.coord.axisy%> >
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link">Modify</button>
          </div>
        </div>

        <div class="control">
          <a class="button is-text" href="/list">Back</a>
        </div>

        <input type="hidden" name="_id" value=<%=record._id%> >
      </form>
    </div>
  </body>
</html>
